.App {
  text-align: center;
}
.color{
  color: red;
}

.display{
  border: 2px solid black;
  height: 70vh;
  width: 70vw;
  border-radius: 5px;
}
.border{
  border: 1px solid black;
  height: 10vh;
  width: 70vh;
  border-radius: 5px;
}